.Cart {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
}

.CartCheckout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CartCheckoutSum {
    margin-bottom: 20px;
}

.CartCheckoutText {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
}

.CartCheckoutMoney,
.CartCheckoutCurrency {
    font-size: 24px;
    font-weight: 700;
    color: #ff6900;
}

.CartOrderButton {
    min-width: 110px;
    min-height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #ff6900;
    cursor: pointer;
}

.CartOrderButton:focus {
    outline: none;
}