.GridRowOuterWrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    padding-top: 60px;
}

.GridRow {
    position: relative;
    display: table-row;
    height: 100%;
}