.Promotion {
    width: 350px;
    margin-right: 5px;
    margin-bottom: 35px;
  }

  .PromotionImage {
    width: 100%;
    height: auto;
  }

  .PromotionImageImg {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .PromotionTitle {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 1.5;
  }

  .PromotionDescription {
    font-size: 15px;
    line-height: 1.2;
    color: #878686;
  }