.VisuallyHidden:not(:focus):not(:active),
input[type="checkbox"].VisuallyHidden,
input[type="radio"].VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.CartListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #f1f2f5;
}

.CartItemWrap {
    display: flex;
    align-items: center;
    width: 60%;
}

.CartItemImage {
    width: 70px;
    display: block;
    margin-right: 25px;
}

.CartImageNameWrapper {
    display: flex;
    flex-direction: column;
}

.CartProductName {
    margin: 0 0 10px 0;
}

.CartItemSummary {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
}

.CartControlsButton {
    position: relative;
    width: 30px;
    height: 40px;
    border: 1px solid #ff6900;
    border-radius: 10px;
    background-color: transparent;
    color: #ff6900;
    font-size: 24px;
    cursor: pointer;
}

.CartControlsButton :hover {
    color: #d96334;
    border-color: #d96334;
}

.CartItemCount {
    margin: 0 5px;
}

.CartItemPriceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CartPrice {
    margin-right: 10px;
}

.CartDeleteButton {
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.CartDeleteButton :hover {
    opacity: 0.3;
}

.CartDeleteButton ::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url("../img/bin.svg"); */
}