.FoodGridContainer {
    width: 1280px;
    margin: 0 auto;
}

.FoodGridTitle {
    display: block;
    margin-bottom: -5px;
    padding: 75px 0 0;
    line-height: 1;
    color: #000;
    font-family: Dodo,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Oxygen-Sans,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 500;
    margin: 0;
    font-size: 36px;
}