.SignUp {
    position: absolute;
    width: 500px;
    padding: 40px 10px 40px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
  
.SignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.SignUpFormButtonsWrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.SignUpFormButtonSignUp {
    width: auto;
    height: 40px;
    padding: 0 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #ff6900;
    font-size: 16px;
    cursor: pointer;
}

.SignUpFormButtonSignUp:focus {
    outline: none;
}
  
.SignUpFormButtonSignIn {
    width: auto;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #ff6900;
    border-radius: 10px;
    color: #ff6900;
    background-color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.SignUpFormButtonSignIn:focus {
    outline: none;
}

.ErrorMessage {
    margin-bottom: 5px;
    color: red;
    font-weight: 700;
}
  